@model PickToColor.Models.UserModel
@using PickToColor.Utility;
@{
    ViewBag.Title = "Change Password | Pick To Color System | Central Logistics Pte. Ltd.";
}

<h2>Change Password</h2>
<hr />
<div class="card">
    <div class="card-body">
        @if (Model.IsManager)
        {
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <span class="control-label col-md-2">Select User</span>
                </div>
                <div class="col-md-9 col-xs-12">
                    <select id="ddlUsers" class="form-control custom-select required" data-message="Please choose the username">
                        <option value="" selected="selected">--Select--</option>
                        @{
                            SecurityLayer sl = new SecurityLayer();
                            var Users = sl.ReturnAllUsers();
                        }

                        @if (Users != null)
                        {
                            foreach (var i in Users)
                            {
                                <option value="@i.UserID">@i.Name (@i.UserName)</option>
                            }
                        }
                    </select>
                </div>
            </div><br />
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-3 col-xs-12">
                                        <span class="control-label col-md-2">Username</span>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" id="txtUsername" class="form-control" placeholder="@Model.UserName" data-ID="@Model.UserID" readonly />
                                    </div>
                                </div><br />
                            }
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <span class="control-label col-md-2">New Password</span>
            </div>
            <div class="col-md-9 col-xs-12">
                <input type="password" class="required form-control" id="txtPassword" data-message="Please enter password" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <span class="control-label col-md-2">Re-enter new Password</span>
            </div>
            <div class="col-md-9 col-xs-12">
                <input type="password" id="txtPasswordConfirm" class="required form-control" data-message="Please re-enter password" />
            </div>
        </div><br />
        <div class="row">
            <div class="offset-md-3 col-md-9 col-xs-12">
                <a onclick="ChangePassword();" href="#" class="btn btn-primary">Change Password</a> &nbsp;
                <a onclick="ClearForm();" href="#" class="btn btn-danger">Clear</a>
            </div>
        </div><br />
    </div>
</div>

<script>
    function ClearForm() {
        $('#txtPassword').val('');
        $('#txtPasswordConfirm').val('');
        if($('#ddlUsers').val() != undefined && $('#ddlUsers').val() != null)
        {
            $('#ddlUsers').val('');
        }

    }

    function ChangePassword() {
        if (ValidateRequired()) {


            var userid = 0;
            if ('@Model.IsManager.ToString()' == 'True') //for managers -- check the dropdown is selected.
            {
                userid = parseInt($('#ddlUsers').val());
            }
            else {
                userid = @Model.UserID;
            }


            if ($.trim($('#txtPassword').val()) != $.trim($('#txtPasswordConfirm').val())) {
                ShowError($('#txtPassword'), "The entered passwords do not match. Please check and try again.");
                return false;
            }
            else if (userid != 0 && userid != undefined) {
                $.ajax({
                    url: '@Url.Action("ChangePassword","User")',
                    type: 'POST',
                    data: { UserID: userid, NewPassword: $.trim($('#txtPassword').val()) },
                    success: function (result) {
                        ShowModalDialog('The password is updated successfully.', 'Password update successful!');
                        ClearForm();
                    },
                    error: function ()
                    {
                        ShowModalDialog('The password update has failed. Please try again later after some time.', 'Password update failed!');
                    }
                });
            }
        }
    }
</script>